<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="NEC_ATM_FACE_APEntities" connectionString="metadata=res://*/APModel.csdl|res://*/APModel.ssdl|res://*/APModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.2.153;initial catalog=NEC_ATM_FACE_AP;persist security info=True;user id=nec;password=1qaz@WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NEC_ATM_FACE_FETEntities" connectionString="metadata=res://*/APFETModel.csdl|res://*/APFETModel.ssdl|res://*/APFETModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.2.153;initial catalog=NEC_ATM_FACE_FET;persist security info=True;user id=nec;password=1qaz@WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NEC_ATM_FACE_PHOEntities" connectionString="metadata=res://*/APPHOModel.csdl|res://*/APPHOModel.ssdl|res://*/APPHOModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.2.153;initial catalog=NEC_ATM_FACE_PHO;user id=nec;password=1qaz@WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>